<section class="section section--homepage">
  <div class="homepage__background">
    <div class="homepage__background-picture" style="<%= bgCover(@post.the_field('picture')) %>"></div>
  </div>
  <div class="overlay-black text-white">
    <div class="row homepage">
      <div class="table padding--horizontal small-text-center homepage__content">
        <div class="table__cell">
          <h2 class="heading-1 homepage__title small-padding--bottom medium-padding--bottom--maxi"><%= @post.the_field('descriptive-title') %></h2>
          <div class="homepage__content padding--bottom">
            <%= simple_format(@post.the_field('description')) %>
          </div>
          <div class="homepage__links">
            <a class="button button--light js-tracking-event homepage__link" href="<%= current_site.the_post('projects').the_url %>" data-target="projects"><%= t('See my projects') %></a>
            <a class="button button--light js-tracking-event homepage__link" href="<%= current_site.the_post('about').the_url %>" data-target="about"><%= t('More about me') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>