<section class="section section--about at-top">
  <div class="me">
    <div class="me__summary">
      <div class="me__summary__content row row--full-width collapse small-padding--bottom medium-padding--bottom--maxi large-padding--bottom--none">
        <div class="small-12 medium-6 large-8 columns me__popup">
          <div class="me__popup__wrap">
            <p class="me__popup__close">&times;</p>
            <div class="me__popup__container">
              <div class="me__popup__inner scroll-enabled">
                <div class="me__popup__content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 large-8 columns fill-parent--height">
          <div class="me__summary__header small-text-center padding">
            <h2 class="me__summary__title big heading-1 padding--bottom--mini"><%= current_site.the_field('author') %>, <%= t(:year_old, :years => Time.now.year - date_from_field(current_site.the_field('birth-date')).year) %></h2>
            <p class="me__summary__introduction"><%= @post.the_field('introduction') %></p>
          </div>
          <div class="table">
            <div class="table__cell">
              <div class="row padding--top" >
                <div class="small-12 large-6 columns">
                  <div class="me__summary__topic me__summary__topic--with-more js-tracking-event" data-topic="<i class='padding--right--mini ion-briefcase'></i><%= t('Work experience') %>" title="<%= t('Work experience') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-briefcase"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__companies">
                    </div>
                    <div class="me__topic__content me__topic__content--companies hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns">
                  <div class="me__summary__topic me__summary__topic--with-more js-tracking-event" data-topic="<i class='padding--right--mini ion-university'></i><%= t('Studies') %>" title="<%= t('Studies') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-university"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__studies">
                    </div>
                    <div class="me__topic__content me__topic__content--studies hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns">
                  <div class="me__summary__topic me__summary__topic--with-more js-tracking-event" data-topic="<i class='padding--right--mini ion-wrench'></i><%= t('Projects') %>" title="<%= t('Projects') %>">
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-wrench"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__projects">
                    </div>
                    <div class="me__topic__content me__topic__content--projects hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns">
                  <div class="me__summary__topic me__summary__topic--with-more js-tracking-event" data-topic="<i class='padding--right--mini ion-android-color-palette'></i><%= t('Other interests') %>" title="<%= t('Other interests') %>">
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-android-color-palette"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__others">
                    </div>
                    <div class="me__topic__content me__topic__content--others hide">
                    </div>
                  </div>
                </div>
              </div>
              <div class="me__summary__last-row" >
                <div class="me__summary__topic me__summary__topic--skills" title="<%= t('Skills') %>">  
                  <div class="me__summary__icon">
                    <div class="table">
                      <div class="table__cell">
                        <i class="ion-ios-gear"></i>
                      </div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="table__cell">
                      <div class="nostyle me__skills">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="me__summary__topic me__summary__topic--languages" title="<%= t('Languages') %>">  
                  <div class="me__summary__icon">
                    <div class="table">
                      <div class="table__cell">
                        <i class="ion-earth"></i>
                      </div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="table__cell">
                      <div class="nostyle me__languages">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% if not current_site.the_field('resume').blank? %>
                <div class="small-text-center padding--top--mini">
                  <a href="<%= current_site.the_field('resume') %>" class="button button--with-icon js-tracking-event me__download-resume__button" download target="_blank">
                    <%= t("Download resume") %>
                    <i class="ion-android-arrow-down"></i>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 large-4 columns fill-parent--height hide-for-small-only me__summary__open-popup-wrap">
          <div class="me__summary__open-popup fill-parent--height js-tracking-event">
            <div class="me_summary__content hide">
              <h2 class=" heading-1 me__popup__title padding--vertical small-text-center">
                <%= @post.the_field('descriptive-title') %>
              </h2>
              <div class="me__popup__content small-text-center padding--bottom">
                <%= simple_format(@post.the_field('description')) %>
              </div>
              <div class="small-text-center">
                <a href="mailto:<%= current_site.the_field('email') %>" class="button">
                  <i class="ion-android-mail"></i>
                  <%= t('Contact me') %>
                </a>
              </div>
            </div>
            <div class="me__summary__picture" style="background-image:url('<%= @post.the_field('picture') %>');"></div>
          </div>
        </div>
      </div>
      <div class="me__summary__scroll-container" data-state="summary" data-see-summary="<%= t('Summary in') %>" data-see-timeline="<%= t('Timeline') %>">
        <i class="ion-chevron-down me__summary__scroll-icon"></i>
        <!-- <div class="me__summary__scroll-button"><%= t('Timeline') %></div> -->
      </div>
    </div>
    <div class="me__data events">
      <div class="timeline">
        <div class="timeline__summary">
          <div class="timeline__icons small-text-center">
            <i class="ion-university timeline__icon timeline__icon--study" title="<%= t('Studies') %>"></i>
            <i class="ion-ios-location timeline__icon timeline__icon--location" title="<%= t('Location') %>"></i>
            <i class="ion-briefcase timeline__icon timeline__icon--company" title="<%= t('Company') %>"></i>
          </div>
          <div class="timeline__summary__inner">
            <div class="time-now"></div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-study">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-study">
              <div class="timeline__item__title"></div>
            </div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-location">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-location">
              <div class="timeline__item__title"></div>
            </div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-company">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-company">
              <div class="timeline__item__title"></div>
            </div>
          </div>
          <div class="timeline__date-container">
            <div class="timeline__item timeline__item--current timeline__item--current-date"></div>
          </div>
        </div>
        <div class="timeline__years">
          <div class="timeline__years__content table__cell"></div>
        </div>
        <div class="timeline__to-top">
          <i class="ion-chevron-up"></i>
        </div>
      </div>
      <div class="timeline__header padding--vertical show-for-medium-down">
        <h2 class="heading-1 big small-text-center"><%= t("Timeline") %></h2>
      </div>
      <ul class="nostyle">
        <% current_site.the_post_type('event').post_type.posts.sort_by_field('start-date', 'DESC').where(status:'published').each do |event| %>
          <% event = event.decorate %>
          
          <li 
            id="life-event-<%= event.id %>"
            class="life-event events__item events__item--<% if event.the_field('picture').blank? %>no-picture<% else %>with-picture<% end %>"
            data-title="<%= event.the_title.gsub('"','&quot;') %>"
            data-event-id="<%= event.id %>"
            data-start-date="<%= event.the_field('start-date') %>"
            data-start-month="<%= t(date_from_field(event.the_field('start-date')).strftime('%b')) %>"
            data-end-date="<%= event.the_field('end-date') %>"
            data-end-month="<% if not event.the_field('end-date').blank? %><%= t(date_from_field(event.the_field('end-date')).strftime('%b')) %><% end %>"
            data-description="<%= simple_format(event.the_field('description')).gsub('"','&quot;') %>"
            data-company="<%= event.the_field('company').gsub('"','&quot;') %>"
            data-location="<%= event.the_field('location').gsub('"','&quot;') %>"
            data-study="<%= event.the_field('study').gsub('"','&quot;') %>"
            data-project="<%= event.the_field('project').gsub('"','&quot;') %>"
            data-skills="<%= event.the_field('skills').gsub('"','&quot;') %>"
            data-language="<%= event.the_field('language').gsub('"','&quot;') %>"
            data-tags='<% tags = event.the_tags %>[<% tags.each do |tag| %>"<%= tag.name.gsub('"','&quot;') %>"<% if not tags.last == tag %>,<% end %><% end %>]'
            >
            
            <div class="life-event__picture">
              <div class="table">
                <div class="table__cell small-text-center text-white life-event__picture__overlay">
                  <h2 class="heading-2 life-event__title small-padding--horizontal--mini large-padding--horizontal--huge"><%= event.the_title %></h2>
                  <div class="life-event__meta">
                    <span class="life-event__meta__period"><%= print_period(event.the_field('start-date'), event.the_field('end-date')) %></span>
                    <% if not event.the_field('location').blank? %>
                      <span class="life-event__meta__location"><%= event.the_field('location') %></span>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if not event.the_field('picture').blank? %>
                <div class="life-event__picture-bg" style="<%= bgCover(event.the_field('picture')) %>" ></div>
                <img class="life-event__picture-file" src="<%= event.the_field('picture') %>" alt="event-picture"/>
              <% end %>
            </div>
            <div class="life-event__text small-padding--horizontal--mini small-padding--top--mini small-padding--bottom large-padding--vertical--none large-padding--horizontal--maxi">
              <div class="table large-padding--horizontal--mini">
                <div class="table__cell">
                  <% if not event.the_field('introduction').blank? %>
                    <h3 class="life-event__introduction padding--vertical--tiny"><%= event.the_field('introduction') %></h3>
                  <% end %>
                  <% if not event.the_field('description').blank? %>
                    <div class="life-event__description padding--vertical--tiny"><%= simple_format(event.the_field('description')) %></div>
                  <% end %>
                  <% if not event.the_field('skills').blank? %>
                    <p class="text-green life-event__skills small-padding--top--tiny small-padding--bottom--mini medium-padding--top--mini medium-padding--bottom"><%= t(:skills_with_colon) %> <%= event.the_field('skills') %></p>
                  <% end %>
                  <div class="life-event__links">
                    <% links = event.get_field_values('links') %>
                    <% links.each do |string| %>
                      <% hash = JSON.parse(string) %>
                      <% if not hash['attr'].blank? and not hash['value'].blank? %>
                        <a class="button button--small life-event__link" target="_blank" href="<%= hash['value'] %>"><%= hash['attr'] %></a>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>