<section class="section single-project">
  <div class="single-project__banner text-white padding--top--huge padding--bottom--mini overlay-gradient-black">
    <div class="single-project__banner__image" style="<%= bgCover(@post.the_thumb_url) %>"></div>
    <div class="row">
      <div class="small-12 columns">
        <!-- <h2 class="heading-3 padding--top--huge padding--bottom--mini"><%= @post.the_title %></h2> -->
        <h2 class="heading-1 big padding--top--huge padding--bottom--mini single-project__banner__title"><%= @post.the_field('introduction') %></h2>
      </div>
    </div>
    </div>
  <div class="row single-project__content">
    <div class="small-12 medium-9 columns end padding--bottom padding--top--mini">
      <div class="crumbs padding--bottom">
        <p><a class="parent-style" href="<%= current_site.the_post('projects').the_url %>"><%= current_site.the_post('projects').the_title %></a></p>&nbsp;/&nbsp;<p><%= @post.the_title %></p>
      </div>
      <!-- <div class="single-project__categories padding--bottom">
        <%# @post.the_tags().each do |tag| %>
        <p class="single-project__categories__item"><%#= t(tag.name) %></p>
        <%# end %>
      </div> -->
      <p class="big text-green padding--bottom--tiny"><%= t(:project_skills) %> <%= @post.the_field('technologies') %></p>
      <h3 class="heading-3 padding--bottom"><%= @post.the_field('header') %></h3>
      <%= simple_format(@post.the_field('description')) %>
      <div class="single-project__links padding--top">
        <% @post.get_field_values('links').each do |hash| %>
          <% hash = JSON.parse(hash) %>
          <a class="button button--small" target="_blank" href="<%= hash["value"] %>"><%= hash["attr"] %></a>
        <% end %>
      </div>
    </div>
    <div class="small-12 columns small-padding--bottom--maxi small-padding--horizontal--none large-padding--horizontal--mini">
      <div class="slideshow slideshow--no-arrows slideshow--autoplay slideshow--autoheight single-project__slideshow">
        <% @post.get_field_values('pictures').each do |url|%>
          <div class="slideshow__slide">
            <img class="rsImg" src="<%= url %>" />
          </div>
        <% end %>
      </div>
    </div>
    <div class="small-12 columns padding--bottom">
      <div class="row small-text-center" data-equalizer>
        <h2 class="heading-1 padding--bottom--mini small-12 columns"><%= t('Read about more projects') %></h2>
        <% current_site.the_post_type('project').the_posts().where.not(id:@post.id).reorder('RANDOM()').limit(2).each do |post|  %>
          <% post = post.decorate %>
          <div class="small-12 medium-6 columns end small-padding--vertical--mini large--padding--vertical">
            <div class="project--other <%= cycle('bg-green text-white' , 'bg-grey-light') %>">
              <a href="<%= post.the_url %>" class="wrap-link">
                <div class="small-padding--horizontal large-padding--horizontal--maxi small-padding--vertical medium-padding--vertical--maxi remove-equalize-on-small" data-equalizer-watch>
                  <div class="project--other__image-wrap">
                    <div class="project--other__image" style="<%= bgCover(post.the_thumb_url) %>"></div>
                  </div>
                  <h2 class="heading-2 padding--vertical--maxi"><%= post.the_title %></h2>
                  <span class="button button--light"><%= t('Read more') %></span>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <!-- <div class="row row--full-width">
    <div class="slideshow slideshow--no-arrows slideshow--autoplay single-project__slideshow">
      <% @post.get_field_values('pictures').each do |url|%>
        <div class="slideshow__slide">
          <img class="rsImg" src="<%= url %>" />
        </div>
      <% end %>
    </div>
  </div> -->
</section>