<section class="section section--about at-top">
  <div class="me">
    <div class="me__summary">
      <div class="me__summary__content row row--full-width collapse">
        <div class="small-12 medium-7 large-8 columns fill-parent--height">
          <div class="me__popup">
            <div class="me__popup__wrap">
              <div class="me__popup__container">
                <div class="me__popup__inner scroll-enabled">
                  <p class="me__popup__close">&times;</p>
                  <div class="me__popup__content">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="table__cell">
              <div class="row padding">
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic me__summary__topic--with-more" data-topic="<i class='padding--right--mini ion-briefcase'></i><%= t('Work experience') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-briefcase"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__companies">
                    </div>
                    <div class="me__topic__content me__topic__content--companies hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic me__summary__topic--with-more" data-topic="<i class='padding--right--mini ion-university'></i><%= t('Studies') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-university"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__studies">
                    </div>
                    <div class="me__topic__content me__topic__content--studies hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-earth"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__languages">
                    </div>
                  </div>
                </div>
                <!-- <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic">  
                    <div class="nostyle me__locations">
                    </div>
                  </div>
                </div> -->
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-ios-gear"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__skills">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic me__summary__topic--with-more" data-topic="<i class='padding--right--mini ion-wrench'></i><%= t('Projects') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-wrench"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__projects">
                    </div>
                    <div class="me__topic__content me__topic__content--projects hide">
                    </div>
                  </div>
                </div>
                <div class="small-12 large-6 columns ">
                  <div class="me__summary__topic me__summary__topic--with-more" data-topic="<i class='padding--right--mini ion-android-color-palette'></i><%= t('Other interests') %>">  
                    <div class="me__summary__icon">
                      <div class="table">
                        <div class="table__cell">
                          <i class="ion-android-color-palette"></i>
                        </div>
                      </div>
                    </div>
                    <div class="nostyle me__others">
                    </div>
                    <div class="me__topic__content me__topic__content--others hide">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-5 large-4 columns fill-parent--height hide-for-small-only">
          <div class="me__summary__open-popup fill-parent--height">
            <div class="me_summary__content hide">
              <h2 class=" heading-1 me__popup__title padding--vertical small-text-center">
                <%= @post.the_field('descriptive-title') %>
              </h2>
              <div class="me__popup__content small-text-center padding--bottom">
                <%= simple_format(@post.the_field('description')) %>
              </div>
              <div class="small-text-center">
                <% if not current_site.the_field('resume').blank? %>
                  <a href="<%= current_site.the_field('resume') %>" class="button" download target="_blank">
                    <%= t("Download resume") %>
                  </a>
                <% end %>
                <a href="mailto:<%= current_site.the_field('email') %>" class="button">
                  <i class="ion-android-mail"></i>
                  <%= t('Contact me') %>
                </a>
              </div>
            </div>
            <div class="me__summary__picture" style="background-image:url('<%= @post.the_field('picture') %>');"></div>
          </div>
        </div>
      </div>
      <div class="me__summary__scroll-container" data-state="summary" data-see-summary="<%= t('Summary in') %>" data-see-timeline="<%= t('Timeline') %>">
        <i class="ion-chevron-down me__summary__scroll-icon"></i>
        <!-- <div class="me__summary__scroll-button"><%= t('Timeline') %></div> -->
      </div>
    </div>
    <div class="me__data events">
      <div class="timeline">
        <div class="timeline__summary">
          <div class="timeline__icons small-text-center">
            <i class="ion-university timeline__icon timeline__icon--study"></i>
            <i class="ion-ios-location timeline__icon timeline__icon--location"></i>
            <i class="ion-briefcase timeline__icon timeline__icon--company"></i>
          </div>
          <div class="timeline__summary__inner">
            <div class="time-now"></div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-study">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-study">
              <div class="timeline__item__title"></div>
            </div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-location">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-location">
              <div class="timeline__item__title"></div>
            </div>
            
            <div class="timeline__item timeline__item--current timeline__item--current-company">
              <div class="timeline__item__title"></div>
            </div>
            <div class="timeline__item timeline__item--previous timeline__item--previous-company">
              <div class="timeline__item__title"></div>
            </div>
          </div>
          <div class="timeline__date-container">
            <div class="timeline__item timeline__item--current timeline__item--current-date"></div>
          </div>
        </div>
        <div class="timeline__years">
          <div class="timeline__years__content table__cell"></div>
        </div>
      </div>
      <ul class="nostyle">
        <% current_site.the_post_type('event').post_type.posts.sort_by_field('start-date', 'ASC').where(status:'published').each do |event| %>
          <% event = event.decorate %>
          
          <li 
            id="life-event-<%= event.id %>"
            class="life-event events__item <% if not event.the_field('picture').blank? %>events__item--no-picture<% end %>"
            data-title="<%= event.the_title %>"
            data-event-id="<%= event.id %>"
            data-start-date="<%= event.the_field('start-date') %>"
            data-start-month="<%= t(Date.strptime(event.the_field('start-date'), '%Y-%m-%d').strftime('%b')) %>"
            data-end-date="<%= event.the_field('end-date') %>"
            data-end-month="<% if not event.the_field('end-date').blank? %><%= t(Date.strptime(event.the_field('end-date'), '%Y-%m-%d').strftime('%b')) %><% end %>"
            data-description="<%= simple_format(event.the_field('description')) %>"
            data-company="<%= event.the_field('company') %>"
            data-location="<%= event.the_field('location') %>"
            data-study="<%= event.the_field('study') %>"
            data-project="<%= event.the_field('project') %>"
            data-skills="<%= event.the_field('skills') %>"
            data-language="<%= event.the_field('language') %>"
            data-tags='<% tags = event.the_tags %>[<% tags.each do |tag| %>"<%= tag.name %>"<% if not tags.last == tag %>,<% end %><% end %>]'
            >
            <div class="life-event__text small-text-center">
              <div class="table">
                <div class="table__cell">
                  <!-- <div class="life-event__title"><%= event.the_title %></div> -->
                  <!-- <div class="life-event__period">
                    <%= Date.strptime(event.the_field('start-date'), '%Y-%m-%d').strftime('%d.%m.%Y') %>
                    <% if event.the_field('end-date').blank? %>
                      - <%= t("Today") %>
                    <% elsif event.the_field('start-date') != event.the_field('end-date') %>
                      - <%= Date.strptime(event.the_field('end-date'), '%Y-%m-%d').strftime('%d.%m.%Y') %>
                    <% end %>
                  </div> -->
                  <!-- <div class="life-event__location"><%= event.the_field('location') %></div> -->
                  <div class="life-event__introduction"><%= event.the_field('introduction') %></div>
                  <div class="life-event__description"><%= simple_format(event.the_field('description')) %></div>
                  <div class="life-event__skills"><%= event.the_field('skills') %></div>
                  <div class="life-event__links">
                    <% links = event.get_field_values('links') %>
                    <% links.each do |string| %>
                      <% hash = JSON.parse(string) %>
                      <% if not hash['attr'].blank? and not hash['value'].blank? %>
                        <a class="button life-event__link" href="<%= hash['value'] %>"><%= hash['attr'] %></a>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% if not event.the_field('picture').blank? %>
              <div class="life-event__picture">
                <div class="table">
                  <div class="table__cell small-text-center text-white">
                    <h2 class="heading-2 big life-event__title large-padding--horizontal--huge"><%= event.the_title %></h2>
                  </div>
                </div>
                <img class="hide life-event__picture-file" src="<%= event.the_field('picture') %>" />
              </div>
            <% end %>
            
            
            <!-- 
            data-icon="<%= event.the_field('icon') %>"
            data-introduction="<%= event.the_field('introduction') %>"
            data-description="<%= simple_format(event.the_field('description')) %>"
            data-picture="<%= event.the_field('picture') %>"
            data-links='<% links = event.get_field_values('links') %>[<% links.each do |string| %><% hash = JSON.parse(string) %><% if not hash['attr'].blank? and not hash['value'].blank? %>["<%= hash['attr'] %>","<%= hash['value'] %>"]<% if not links.last == string %>,<% end %><% end %><% end %>]' 
            -->

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>