<section class="section">
  <div class="row small-text-center padding--vertical--maxi">
    <h2 class="small-12 columns heading-1 padding--bottom"><%= @post.the_field('descriptive-title') %></h2>
    <div class="small-12 medium-offset-1 medium-10 large-offset-2 large-8 columns end">
      <%= simple_format(@post.the_field('description')) %>
    </div>
    <div class="small-12 columns padding--top">
      <a class="button scroll-to" href="#major-projects">Read</a>
    </div>
  </div>
</section>
<section class="section" id="major-projects">
  <div class="row row--full-width">
    <% current_site.the_category('major').decorate.the_posts().each do |post| %>
      <% post = post.decorate %>
      <div class="section-table project--major">
        <% switch_side = cycle('switch-side ', '') %> 
        <div class="<%= switch_side  %>text-side">
          <div class="padding--vertical small-padding--horizontal medium-padding--horizontal--maxi large-padding--horizontal--huge">
            <h3 class="heading-3"><%= post.the_title %></h3>
            <h2 class="padding--bottom--tiny"><%= post.the_field('introduction') %></h2>
            <p class="small padding--bottom--mini text-grey"><%= post.the_field('technologies') %></p>
            <p class="padding--bottom"><%= post.the_field('header') %></p>
            <a href="<%= post.the_url %>" class="button">read more</a>
          </div>
        </div>
        <div class="<%= switch_side  %>img-side" style="<%= bgCover(post.the_thumb_url) %>"></div>
      </div>
    <% end %>
  </div>
</section>
<section class="section" id="other-projects">
  <div class="row row--full-width collapse small-text-center" data-equalizer>
    <% current_site.the_category('minor').decorate.the_posts().each do |post| %>
      <% post = post.decorate %>
      <div class="small-12 medium-6 large-4 columns end project--other <%= cycle('bg-green text-white' , '', 'bg-grey-light') %>" data-equalizer-watch>
        <a href="<%= post.the_url %>" class="wrap-link">
          <div class="small-padding--horizontal large-padding--horizontal--maxi small-padding--vertical medium-padding--vertical--maxi">
            <div class="project--other__image-wrap">
              <div class="project--other__image" style="<%= bgCover(post.the_thumb_url) %>"></div>
            </div>
            <h3 class="heading-3 padding--top"><%= post.the_title %></h3>
            <h2 class="padding--bottom--mini"><%= post.the_field('introduction') %></h2>
            <p class="small padding--bottom"><%= post.the_field('technologies') %></p>
            <span class="button button--light">read more</span>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</section>