    <!DOCTYPE html>
    <!--[if lt IE 7 ]> <html lang="<%= I18n.locale %>" class="ie6 ielt9 no-js"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="<%= I18n.locale %>" class="ie7 ielt9 no-js"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="<%= I18n.locale %>" class="ie8 ielt9 no-js"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="<%= I18n.locale %>" class="ie9 no-js"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= I18n.locale %>"> <!--<![endif]-->
    <head>
        <!-- META SECTION -->
        <title>My theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->
        <%= stylesheet_link_tag    'foundation', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
        <%= raw the_head %>
    </head>
    <body>

    <!-- container -->
    <div class="container">
        <%= render partial: 'partials/header' %>

        <div class="content">
            <%= yield %>
        </div>

        <%= render partial: 'partials/footer' %>
        <%= render partial: 'partials/scripts' %>
    </div>
    <!-- ./container -->
    </body>
    </html>