    <!DOCTYPE html>
    <!--[if lt IE 7 ]> <html lang="<%= I18n.locale %>" class="ie6 ielt9"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="<%= I18n.locale %>" class="ie7 ielt9"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="<%= I18n.locale %>" class="ie8 ielt9"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="<%= I18n.locale %>" class="ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= I18n.locale %>"> <!--<![endif]-->
    <head>
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!--  Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('favicons/apple-touch-icon-57x57.png') %>">
        <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('favicons/apple-touch-icon-60x60.png') %>">
        <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('favicons/apple-touch-icon-72x72.png') %>">
        <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('favicons/apple-touch-icon-76x76.png') %>">
        <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('favicons/apple-touch-icon-114x114.png') %>">
        <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('favicons/apple-touch-icon-120x120.png') %>">
        <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('favicons/apple-touch-icon-144x144.png') %>">
        <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('favicons/apple-touch-icon-152x152.png') %>">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('favicons/apple-touch-icon-180x180.png') %>">
        <link rel="icon" type="image/png" href="<%= asset_url('favicons/favicon-32x32.png') %>" sizes="32x32">
        <link rel="icon" type="image/png" href="<%= asset_url('favicons/favicon-194x194.png') %>" sizes="194x194">
        <link rel="icon" type="image/png" href="<%= asset_url('favicons/favicon-96x96.png') %>" sizes="96x96">
        <link rel="icon" type="image/png" href="<%= asset_url('favicons/android-chrome-192x192.png') %>" sizes="192x192">
        <link rel="icon" type="image/png" href="<%= asset_url('favicons/favicon-16x16.png') %>" sizes="16x16">
        <link rel="manifest" href="<%= asset_url('favicons/manifest.json') %>">
        <link rel="mask-icon" href="<%= asset_url('favicons/safari-pinned-tab.svg" color="#044c29') %>">
        <link rel="shortcut icon" href="<%= asset_url('favicons/favicon.ico') %>">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="<%= asset_url('favicons/mstile-144x144.png') %>">
        <meta name="msapplication-config" content="<%= asset_url('favicons/browserconfig.xml') %>">
        <meta name="theme-color" content="#044c29">

        <!-- END Favicon -->

        <!-- END META SECTION -->

        <script type="text/javascript">
          var headerHeight = 104;
          var miniHeaderHeight = 52;
          var mobileHeaderHeight = 60;
        </script>
        <%= stylesheet_link_tag    'foundation', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <%= raw the_head %>
    </head>
    <body class="<%= "section-#{@post.post_type.decorate.the_slug} #{@post.the_slug}" if not @post.blank? %>">

    <!-- container -->
    <div class="container">
        <%= render partial: 'partials/header' %>

        <div class="content">
            <%= yield %>
        </div>

        <%= render partial: 'partials/footer' %>
        <%= render partial: 'partials/scripts' %>
    </div>
    <!-- ./container -->
    </body>
    </html>