<header id="header" role="banner">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="site-header">
        <div class="site-branding">
          <h1 class="site-title">
            <a href="{{ siteUrl }}" rel="home">
              <%= image_tag current_site.the_logo, class: "img-responsive" %>
              <span class="hide"><%= current_site.the_title %></span>
            </a>
          </h1>
        </div>
        <nav id="primary-navigation" class="primary-navigation show-for-medium-up" role="navigation">
          <%= raw draw_menu() %>
        </nav>
        <div class="mobile-menu-toggle hide-for-print">
          <div class="table__cell">
            <button class="mobile-menu-toggle__button" type="button" role="button" aria-label="Toggle Navigation">
              <div class="mobile-menu-toggle__button__inner">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="mobile-navigation">
    <div class="mobile-navigation__content">
      <%= raw get_nav_menu('main_menu', '') %>
    </div>
  </nav>
  <div class="toolbar">
    <!-- <div class="search-form">
      <form action="{{ url('search') }}">
        <input class="search-form__input" type="search" name="q" placeholder="{{ 'Search'|t }}" value="{{craft.request.getQuery('q')}}">
        <button class="search-form__button"><i class="ion-ios-search-strong"></i></button>
      </form>
    </div> -->
    <% current_site.get_languages.each do | lang | %>
      <h3><a class="parent-style <% if lang == I18n.locale %>active<% end %>" href="<%= url_to_fixed("url_for", {locale: lang}) %>"><%= lang %></a></h3>
    <% end %>

    <%#= raw current_site.draw_languages("language list-inline pull-right", true) %>
  </div>
</header>