<header id="header" role="banner">
  <div class="row row--full-width">
    <div class="small-12 medium-12 large-12 columns">
      <div class="site-header">
        <h1 class="hide"><%= t(:site_title) %></h1>
        <nav id="primary-navigation" class="primary-navigation" role="navigation">
          <%= raw my_draw_menu({callback_item:lambda{|args| 
            if current_site.the_post(current_site.options[:home_page]).the_url(as_path:true) == args[:link][:link]
              args[:settings][:before] = "<i class='ion-ios-home-outline primary-navigation__home-icon'></i><div class='primary-navigation__home'>"
              args[:settings][:after] = "</div>"
            else
              args[:settings][:before] = ""
              args[:settings][:after] = ""
            end
            }}) %>
        </nav>
        <div class="mobile-menu-toggle hide-for-print">
          <div class="table__cell">
            <button class="mobile-menu-toggle__button" type="button" role="button" aria-label="Toggle Navigation">
              <div class="mobile-menu-toggle__button__inner">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="ie-disclaimer">
  <div class="ie-disclaimer__inner">
    <div class="ie-disclaimer__content">
      <h2 class="heading-1 padding--bottom"><%= t(:forgot_the_year, year: Time.now.strftime('%Y')) %></h2>
      <div class="padding--bottom">
        <%= t("You are using a browser that is older than 6 years") %>. <%= t("In browser years, that's like 1000") %>. <%= t("I can only advise you to updgrade it so that you can enjoy today's internet properly") %>.
      </div>
      <div>
        <a class="button" target="_blank" href="http://outdatedbrowser.com/"><%= t("Join today's internet") %></a>
      </div>
    </div>
  </div>
</div>